<footer class="footer-main">
    {% if page.title == "Home" %}
        {% include social-links.html %}
    {% endif %}

    <!-- {{ site.name }} © {{ site.time | date: '%Y' }} <a class="link" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a> -->
    {{ site.name }} © {{ site.time | date: '%Y' }}

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a> by <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p>
</footer>
