<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        <!-- {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %} -->

        <li class="item">
            <a class="link" href="{{ site.url }}/">
                Research
                <img class="ilink" src="{{ site.url }}/assets/images/beaker.png" height="15" alt="Research">
            </a>
        </li>

        <li class="item">
            <a class="link" href="{{ site.url }}/about">
                About
                <img class="ilink" src="{{ site.url }}/assets/images/robot-wave-icon.jpg" height="15" alt="About">
            </a>
        </li>

        <li class="item">
            <a class="link" href="{{ site.url }}/projects">
                Projects
                <img class="ilink" src="{{ site.url }}/assets/images/robot-arm-icon.png" height="15" alt="Projects">
            </a>
        </li>

        <!-- {% if site.research_nav == true %}
            {% if page.title != "Research" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/research">
                        {% if page.title == "Home" %}
                            <img class="ilink" src="{{ site.url }}/assets/images/beaker.png" alt="Research">
                        {% endif %}
                        Research
                        <img class="ilink" src="{{ site.url }}/assets/images/beaker.png" height="15" alt="Research">
                    </a>
                </li>
            {% endif %}
        {% endif %} -->
        
        <!-- {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">
                        {% if page.title == "Home" %}
                            <img class="ilink" src="{{ site.url }}/assets/images/robot-wave-icon.jpg" alt="About">
                        {% endif %}
                        About
                        <img class="ilink" src="{{ site.url }}/assets/images/robot-wave-icon.jpg" height="15" alt="About">
                    </a>
                </li>
            {% endif %}
        {% endif %} -->
        
        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        <!-- {% if site.projects_nav == true %}
            {% if page.title != "Projects" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/projects">
                    {% if page.title == "Home" %}
                        <img class="ilink" src="{{ site.url }}/assets/images/robot-arm-icon.png" alt="Projects">
                    {% endif %}
                    Projects
                    <img class="ilink" src="{{ site.url }}/assets/images/robot-arm-icon.png" height="15" alt="Projects">
                </a>
            </li>
            {% endif %}
        {% endif %} -->

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">
                    {% if page.title == "Home" %}
                        <img class="ilink" src="{{ site.url }}/assets/images/paper-icon.png" alt="CV">
                    {% endif %}
                    CV
                    <img class="ilink" src="{{ site.url }}/assets/images/paper-icon.png" height="15" alt="CV">
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
