/* Research */

.right
    float: right
    max-width: 30% 
    max-height: 150px
    padding-left: 20px
    padding-bottom: 10px

.left
    float: left
    max-width: 30%
    max-height: 150px
    padding-right: 20px
    padding-bottom: 10px

.proj-table
    width: 100%
    
    .img-col
        width: 30%
        padding-right: 20px
    