/* Research */

.right
    float: right
    width: 20%
    padding-left: 20px

.left
    float: left
    width: 30%
    padding-right: 20px

.proj-table
    width: 100%
    
    .img-col
        width: 30%
        padding-right: 20px
    